$font-family-sans-serif: 'Lato', sans-serif;
$font-family-monospace: 'Nunito', sans-serif;

$background-color: #FBFBFB;
$primary-white: #FFFFFF;
$primary-grey: #6F7979;
$primary-black: #141D1D;
$primary-green: #004850;
$box-shadow: #9747ff26;

$secondary-white: #DAE5E4;
$secondary-grey: #A3ADAD;
$secondary-green: #005C66;